* {
box-sizing: border-box;
}

body {
    margin: 50px;
    font-size: 18px;
    font-family: Helvetica;
    background-color: #cccccc5d;
}

h1 {
    background-color: #BBB;
    padding: 10px;
    border: 3px solid black;
}

p, .link {
    font-size: 25px;
    color: black;
    background-color: #f3cbe2;
    border: 3px solid #AAA;
}

.link:hover {
    color: blueviolet;
}
.link {
    border: none;
}
img {
    border: 1px solid black;
}

